:root {
    --text: #efefef;

    --first: #214563;
    --firstShadow: #15293a;
    --second: #456321;
    --third: #632145;

    --backgroundImage: url("../assets/imgs/background.png");
    --logoImage: url("../assets/imgs/logo.png");
    --nextIcon: url("../assets/icones/next.png");
    --quitIcon: url("../assets/icones/quit.png");
    --startIcon: url("../assets/icones/start.png");
    --restartIcon: url("../assets/icones/restart.png");
}

html{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    
    font-size:2.5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    font-style: normal;
    color: var(--text);
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    align-content: center;
}

div#App {
    height: 100vh;
    max-width: 100vw;
    aspect-ratio: 9/16;
    background-image: var(--backgroundImage);
    background-size: cover;
    margin: auto;
}

header{
    height: 25vh;
    background-image: var(--logoImage);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

div#container{
    width: auto;
    height: 75vh;
    margin: 0;
    padding: 0;
}