/** PACKAGES **/
div#packages{
    width: 100%;
    height: 100%;
    display:none; /* display:block; */
    position: relative;
}

/* List */
div#packages div#packages-list {
    width: 100%;
    height: 65vh;
    padding: 0;
    display: block;
    position: absolute;
    top: 0; 
    overflow-x: hidden;
    overflow-y: scroll;
}

/* scrollbar width */
div#packages div#packages-list::-webkit-scrollbar {
    width: 0px;
}

/* scrollbar Track 
div#packages div#packages-list::-webkit-scrollbar-track {
    background: #f1f1f1; 
}*/

/* scrollbar Handle 
div#packages div#packages-list::-webkit-scrollbar-thumb {
    background: #888; 
}*/

/* scrollbar Handle on hover 
div#packages div#packages-list::-webkit-scrollbar-thumb:hover {
    background: #555; 
}*/

div#packages div#packages-list .package {
    width: 100%;
    height: 10vh;
    background-color: var(--firstShadow);
    color: var(--text);
    border: none;
    margin-top: .5vh;
    font-size:1.5vh;
    display: flex;
}
div#packages div#packages-list .package:hover {
    background-color: var(--text);
    color: var(--firstShadow);
}

div#packages div#packages-list .package div.package-img{
    width: 10vh;
    height: 100%;
    display: flex;
    justify-content: center;
}

div#packages div#packages-list .package div.package-img img{
    max-width: 80%;
    max-height: 80%;
    margin: auto;
}

div#packages div#packages-list .package div.package-text{
    width: 40vh;
    height: 100%;
    margin-left: 1vh;
    text-align: left;
}

div#packages div#packages-list .package div.package-text h2{
    margin: 1vh;
    margin-bottom: 2vh;
    height: 2.5vh;
}

div#packages div#packages-list .package div.package-text div{
    height: 5vh;
    margin: 0;
    margin-left: 1vh;
    white-space:nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Liars */

div#packages div#liarsNumber{
    width: calc(100% - 2*2vh);
    height: 10vh;
    padding: 0 2vh;
    display: flex;
    position: absolute;
    bottom: 0; 
    background-color: var(--first);
}
div#packages div#liarsNumber div{
    width: 70%;
}
div#packages div#liarsNumber div input{
    width: 100%;
    height: 50%;
}

div#packages div#liarsNumber datalist {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    height: auto;
    overflow: hidden;
}
div#packages div#liarsNumber option:before {
    content: '';
    display: block;
    width: 0;
    height: auto;
    padding-left: 3px;
    text-indent: 0;
}
div#packages div#liarsNumber label{
    padding-top: 1vh;
    margin: 0 auto;
    text-align: center;
    width: 30%;
}

/* Quit */
div#packages button#quitPackage {
    width: 8vh;
    height: 8vh;
    position: absolute;
    top: -9vh;
    left: 1vh;
    
    background-color: var(--second);
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: -2px 2px var(--firstShadow);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    background-image: var(--quitIcon);
}
div#packages button#quitPackage:hover {
    background-color: var(--third);
}