/** RULES **/
div#rules{
    display:none; /* display:block; */
    width: calc((100% - 2*1vh));
    padding: 1vh;
    height: calc((100% - 2*1vh));
    position: relative; 
}

div#rules h1{
    text-align: center;
}

#rulesButtonsPanel {
    width: calc((100% - 2*1vh));
    height: 12vh;
    display: flex;
    position: absolute;
    bottom: 0;
}

#rulesButtonsPanel button {
    width: 10vh;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--second);
    border-radius: 50%;
    
    
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: -2px 2px var(--firstShadow);
}
#rulesButtonsPanel button#startApp {
    background-image: var(--startIcon);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#rulesButtonsPanel button#quitRules {
    background-image: var(--quitIcon);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#rulesButtonsPanel button#nextRules {
    background-image: var(--nextIcon);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#rulesButtonsPanel button:hover {
    background-color: var(--third);
}

#rulesButtonsPanel button:active {
    background-color: var(--third);
    box-shadow: 0 0 #666;
    transform: translateY(4px);
}